/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-blocksmith-countdown {
	display: flex;
	align-items: center;
	gap: 10px;

	&__item {
		display: flex;
		flex-direction: column;
	}

	&__number {
		font-size: 60px;
		line-height: 1;
	}

	&__label {
		font-size: 14px;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	&__separator {
		font-size: 26px;
	}
}
